.chessApp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
}

h1 {
    text-align: center;
}

.chessBoardImg {
    width: 550px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.chess_piece_container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

.chessGame {
    position: relative;
    background-color: aliceblue;
}

.pieceSelectedIndicator {
    position: absolute;
    width: 88px;
    height: auto;
    opacity: 0;
}

#chessGameOptions {
    margin-top: 100px;
    text-align: center;
    line-height: 1.4em;
}


#chessGameOptions .button {
	padding: 13px 45px;
	font-size: 16px;
	font-weight: 500;
	color: white;
	border-radius: 5px;
	background: #d83f45;
}

#hiddenForm {
    opacity: 0;
}