.chessApp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
}

h1 {
    text-align: center;
}

.chessBoardImg {
    width: 550px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.chess_piece_container {
    position: absolute;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

.chess_pieces_container {
    position: absolute;

}

.chessGame {
    position: relative;
    background-color: aliceblue;
}
