.leetcodeCol {
    text-align: center;
    margin: 15px;
}

body {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
    background-color: antiquewhite;
}

.btn {
    width: 100px;
}

.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
}

#insert {
    border-color: aqua;
    border-bottom-style: solid;
    padding-bottom: 10%;
}

#delete {
    border-color: aqua;
    border-bottom-style: solid;
    padding-bottom: 10%;
}